.favorites-main {
  border-radius: 30px;
  padding: 40px 20px;
  background-color: var(--secondary-bg-color);
}

.favorites-main-title {
  font-size: 32px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 20px;
}

.favorites-main-empty {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 88px;
  padding: 0 24px;
}

.favorites-main-empty-icon {
  display: block;
  margin-bottom: 28px;
}

.favorites-main-empty-caption {
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
}

.favorites-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.favorites-exercises-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .favorites-main {
    border-radius: 50px;
    padding: 64px 48px;
    /* height: 928px; */
    position: relative;
  }

  .favorites-main:has(.favorites-main-empty:not(.favorites-visually-hidden)) {
    height: 928px;
  }

  .favorites-main-title {
    font-size: 44px;
    line-height: 1.09;
    font-weight: 400;
    margin-bottom: 32px;
  }

  .favorites-main-empty {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: absolute;
    width: 554px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .favorites-main-empty-caption {
    font-size: 18px;
    line-height: 1.33;
  }

  .favorites-exercises-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 24px;
  }

  .favorites-exercises-list li {
    flex-basis: calc(50% - 12px);
  }
}

.icon-trash-svg {
  fill: #f6f6f6;
}

@media screen and (min-width: 1440px) {
  .favorites-main-empty {
    top: 50%;
  }

  .favorites-exercises-list {
    gap: 28px 20px;
  }

  .favorites-exercises-list li {
    flex-basis: calc(100% / 3 - 14px);
  }
}