<section class="exercises-section">
    <div class="container">
        <div class="wrapper">
            <h2 class="exercises-title">Exercises<span class="exercises-title-filter"></span></h2>

            <div class="button-wrapper">
                <button type="button" class="muscles-btn exercises-btn active">Muscles</button>
                <button type="button" class="body-parts-btn exercises-btn">Body parts</button>
                <button type="button" class="equipment-btn exercises-btn">Equipment</button>
                <form class="search-form"><input type="search" name="search-exercises" class="search-exercise-input"
                        placeholder="Search" /><button type="click" class="remove-btn"><svg class="remove-svg"
                            width="10" height="10">
                            <use href="./img/icons.svg#icon-close"></use>
                        </svg></button><button type="submit" class="search-btn"><svg class="search-svg" width="18"
                            height="18">
                            <use href="./img/icons.svg#icon-search"></use>
                        </svg></button></form>
            </div>
            <span class="loader"></span>
            <ul class="filter-list"></ul>
            <ul class="exercises-list exe-info-list"></ul>
            <ul class="pagination-filter"></ul>
        </div>
    </div>
</section>
