<section class="exercises-section">
    <div class="container">
        <h2 class="exercises-title">Exercises</h2>
        <div class="button-wrapper">
            <button type="button" class="muscles-btn exercises-btn active">Muscles</button>
            <button type="button" class="body-parts-btn exercises-btn">Body parts</button>
            <button type="button" class="equipment-btn exercises-btn">Equipment</button>
        </div>
        <ul class="filter-list"></ul>
        <ul class="pagination-filter"></ul>
    </div>
</section>
