<section class="container favorites-main">
  <h2 class="favorites-main-title">Favorites</h2>
  <div
    data-name="favorites-empty"
    class="favorites-main-empty favorites-visually-hidden"
  >
    <img
      class="favorites-main-empty-icon"
      src="./img/favorites/dumbbell@1x.png"
      alt="Dumbell icon"
      width="85px"
      height="52px"
    />
    <p class="favorites-main-empty-caption">
      It appears that you haven't added any exercises to your favorites yet. To
      get started, you can add exercises that you like to your favorites for
      easier access in the future.
    </p>
  </div>
  <ul
    data-name="favorites-list"
    class="favorites-exercises-list favorites-visually-hidden"
  ></ul>
</section>
