<section class="favorites-quotes-section-cont container">
  <div class="favorites-quotes-first">
    <div class="favorites-quotes-first-header">
      <svg
        class="favorites-quotes-first-header-icon"
        width="32"
        height="32"
        aria-label="Run man icon"
      >
        <use href="./img/icons.svg#icon-run-man"></use>
      </svg>
      <h3 class="favorites-quotes-first-header-title">Quote of the day</h3>
      <svg
        class="favorites-quotes-quote-icon"
        width="28"
        height="28"
        aria-label="Quotes icon"
      >
        <use href="./img/icons.svg#icon-qoute"></use>
      </svg>
    </div>
    <div class="favorites-quotes-quote-cont">
      <p data-name="quote" class="favorites-quotes-quote"></p>
      <p data-name="author" class="favorites-quotes-author"></p>
    </div>
  </div>
  <div class="favorites-quotes-second"></div>
  <div class="favorites-quotes-third">
    <div>
      <svg
        class="favorites-quotes-fitness-icon"
        width="20"
        height="20"
        aria-label="Fitness icon"
      >
        <use href="./img/icons.svg#icon-fitness"></use>
      </svg>
      <p class="favorites-quotes-third-time">110 min</p>
      <p class="favorites-quotes-third-caption">Daily norm of sports</p>
    </div>
  </div>
</section>
