<footer class="container">
    <div class="footer-backgrounde ">
        <div class="info-content">
            <nav class="navigation">
                <a href="../index.html" class="brand-lebel">energy.flow</a>
                <ul class="social-links">
                    <li class="social-link">
                        <a target="_blank" href="https://www.facebook.com/goITclub/"
                            class="social-icon">
                            <svg class="icon" width="20" height="20">
                                <use href="../img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-link">
                        <a target="_blank" href="https://www.instagram.com/goitclub/"
                            class="social-icon">
                            <svg class="icon" width="20" height="20">
                                <use href="../img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-link">
                        <a target="_blank" href="https://www.youtube.com/c/GoIT"
                            class="social-icon">
                            <svg class="icon" width="20" height="20">
                                <use href="../img/icons.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>

                </ul>

            </nav>

            <div class="content-conteiner">
                <div class="info-section">
                    <h1 class="info-title">Transforming your
                        <span class="info-subtitle">body</span> shape with us</h1>

                </div>
                <div class="content-form">
                    <p class="text">Subscribe and learn about new exercises!</p>
                    <form action="#" class="form-mail" id="subscriptionForm">
                        <label for="email">
                            <input type="text" placeholder="Email" id="email"
                                required>
                            <button class="form-submit" type="submit">Send</button>
                        </label>
                    </form>
                </div>
            </div>

        </div>

    </div>

    <div class="copyright-info">
        <p>Energy Flow. All rights reserved.</p>
        <span class="policy-links">
            <a href>Privacy Policy</a>
            <p>/</p>
            <a href>Terms of Service</a>
        </span>
    </div>
</footer>