<header class="page-header container" id="page-header">
  <div class="page-header-container">
    <a href="" class="link logo">energy.flow</a>
    <nav class="page-nav">
      <ul class="list page-nav-list">
        <li class="page-nav-item">
          <a class="link page-nav-link current" href="../index.html">Home</a>
        </li>
        <li class="page-nav-item">
          <a class="link page-nav-link" href="../favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>
    <ul class="list socials-list header-socials-list">
      <li class="header-socials-item">
        <a
          class="link header-socials-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="socials-svg" width="28" height="28">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-item">
        <a
          class="link header-socials-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="socials-svg" width="28" height="28">
            <use href="../img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-item">
        <a
          class="link header-socials-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="socials-svg" width="28" height="28">
            <use href="../img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="toggle-mobile-menu-btn"
      id="toggle-mobile-menu-btn"
    >
      <svg class="open-mobile-menu-svg" width="32" height="16">
        <use
          class="toggle-mobile-menu-svg"
          id="icon-burger"
          href="../img/icons.svg#icon-burger"
        ></use>
        <use
          class="toggle-mobile-menu-svg is-hidden"
          id="icon-close"
          href="../img/icons.svg#icon-close"
        ></use>
      </svg>
    </button>
  </div>
</header>
  </div>
</header>
