<section class="hero-section container">
  <div class="container hero-section-second-container">
    <ul class="hero-section-list">
      <li class="hero-section-sport-list-item hero-section-list-item">
        #Sport
      </li>
      <li class="hero-section-healthy-list-item hero-section-list-item">
        #Healthy
      </li>
      <li class="hero-section-workout-list-item hero-section-list-item">
        #Workout
      </li>
      <li class="hero-section-diet-list-item hero-section-list-item">#Diet</li>
    </ul>
  </div>
  <div class="hero-section-container container">
    <h1 class="hero-section-title">
      Get <span class="hero-section-title-word">Body</span> in shape, Stay
      healthy
    </h1>
    <p class="hero-section-title-text">
      Transform your physique and embrace a healthier lifestyle with our
      comprehensive fitness and nutrition support.
    </p>
  </div>
</section>
