<div class="modal is-hidden">
  <div class="modal-box">
    <button class="modal-close" type="button">
      <svg class="close-icon" id="closeExerciseModal" width="14" height="14">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-content">
      <div class="modal-gif">
        <img class="modal-gif-img" src="" alt="" srcset="">
      </div>
      <div class="modal-info">
        <h1 class="modal-title">Title</h1>
        <div class="modal-rating">
          <span class="average-rating">4.0</span>
          <ul class="rating-stars">
            <li class="rating-item">
              <svg class="star-icon" width="18" height="18">
                <use href="../img/icons.svg#icon-star-full"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="star-icon" width="18" height="18">
                <use href="../img/icons.svg#icon-star-full"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="star-icon" width="18" height="18">
                <use href="../img/icons.svg#icon-star-full"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="star-icon" width="18" height="18">
                <use href="../img/icons.svg#icon-star-full"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="star-icon" width="18" height="18">
                <use href="../img/icons.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
        </div>
        <svg class="modal-line" width="342" height="2">
          <use href="../img/icons.svg#icon-line"></use>
        </svg>
        <div class="modal-short-info">
          <ul class="exercises-short-list">
            <li class="exercises-short-item">
              <h2 class="title-short-list">Target</h2>
              <p class="short-list-info">Abc</p>
            </li>
            <li class="exercises-short-item">
              <h2 class="title-short-list">
                Dody Part
              </h2>
              <p class="short-list-info">Waist</p>
            </li>
            <li class="exercises-short-item">
              <h2 class="title-short-list">Equipment</h2>
              <p class="short-list-info">Body weight</p>
            </li>
            <li class="exercises-short-item">
              <h2 class="title-short-list">Popular</h2>
              <p class="short-list-info">150</p>
            </li>
            <li class="exercises-short-item">
              <h2 class="title-short-list">Burned calories</h2>
              <p class="short-list-info">323/3 min</p>
            </li>
          </ul>
        </div>
        <svg class="modal-line" width="342" height="2">
          <use href="../img/icons.svg#icon-line"></use>
        </svg>


        <p class="modal-description">
          This refers to your core muscles, which include the rectus abdominis, obliques, and transverse abdominis.
          They're
          essential for maintaining p osture, stability, and generating force in many movements. Exercises that
          target
          the abs
          include crunches, leg raises, and planks.
        </p>
        <div class="modal-buttons">
          <button class="modal-btn js-btn-add">Add to Favorites
            <svg class="btn-heart" width="20" height="20">
              <use href="../img/icons.svg#icon-heart"></use>
            </svg>
          </button>
          <button class="modal-btn give-btn" id="giveRatingBtn">Give a rating</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="ratingModal is-hidden" class="modal">
  <div class="get-rating">
    <button class="modal-close" type="button">
      <svg class="close" id="closeExerciseModal" width="14" height="14">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="rating-wrapper">
      <h1 class="get-rating-title">Rating</h1>
      <div class="rating-stars">
        <span class="average-rating">4.0</span>
        <span class="star-rating">
          <input class="stars" type="radio" name="rating" value="1"><i></i>
          <input class="stars" type="radio" name="rating" value="2"><i></i>
          <input class="stars" type="radio" name="rating" value="3"><i></i>
          <input class="stars" type="radio" name="rating" value="4"><i></i>
          <input class="stars" type="radio" name="rating" value="5"><i></i>
        </span>
      </div>
    </div>
  </div>
</div>