<div class="modal is-hidden">
  <div class="modal-box">
    <button class="modal-close" type="button">
      <svg class="close-icon" id="closeExerciseModal" width="14" height="14">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-content">
      <div class="modal-gif">
      </div>
      <div class="modal-info">
        <h1 class="modal-title">#</h1>
        <div class="modal-rating">
          <span class="average-rating">#</span>
          <ul class="rating-stars">
            <li class="rating-item">
              <svg class="star-icon" width="18" height="18">
                <use href="../img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="star-icon" width="18" height="18">
                <use href="../img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="star-icon" width="18" height="18">
                <use href="../img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="star-icon" width="18" height="18">
                <use href="../img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="rating-item">
              <svg class="star-icon" width="18" height="18">
                <use class="star-svg" href="../img/icons.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
        </div>
        <svg class="modal-line" width="342" height="2">
          <use href="../img/icons.svg#icon-line"></use>
        </svg>
        <div class="modal-short-info">
          <ul class="exercises-short-list">
            <li class="exercises-short-item">
              <h2 class="title-short-list">Target</h2>
              <p class="short-list-info modal-target">#</p>
            </li>
            <li class="exercises-short-item">
              <h2 class="title-short-list ">
                Body part
              </h2>
              <p class="short-list-info modal-dody-part">#</p>
            </li>
            <li class="exercises-short-item">
              <h2 class="title-short-list ">Equipment</h2>
              <p class="short-list-info modal-equipment">#</p>
            </li>
            <li class="exercises-short-item">
              <h2 class="title-short-list">Popular</h2>
              <p class="short-list-info modal-popular">#</p>
            </li>
            <li class="exercises-short-item">
              <h2 class="title-short-list">Burned calories</h2>
              <p class="short-list-info"><span class="modal-calories">#</span><span class="min">/3 min</span></p>
            </li>
          </ul>
        </div>
        <svg class="modal-line" width="342" height="2">
          <use href="../img/icons.svg#icon-line"></use>
        </svg>
        <p class="modal-description">#</p>
        <div class="modal-buttons">
          <button class="modal-btn js-btn-add"><span class="btn-text">Add to Favorites</span>
            <svg class="btn-heart" width="20" height="20">
              <use href="../img/icons.svg#icon-heart"></use>
            </svg>
          </button>
          <!-- <button class="modal-btn give-btn" id="giveRatingBtn">Give a rating</button> -->
        </div>
      </div>
    </div>
  </div>
</div>