<section class="quotes-section-cont container">
  <div class="quotes-first">
    <div class="quotes-first-header">
      <svg
        class="quotes-first-header-icon"
        width="32"
        height="32"
        aria-label="Run man icon"
      >
        <use href="./img/icons.svg#icon-run-man"></use>
      </svg>
      <h3 class="quotes-first-header-title">Quote of the day</h3>
      <svg
        class="quotes-quote-icon"
        width="28"
        height="28"
        aria-label="Quotes icon"
      >
        <use href="./img/icons.svg#icon-qoute"></use>
      </svg>
    </div>
    <div class="quotes-quote-cont">
      <p data-name="quote" class="quotes-quote"></p>
      <p data-name="author" class="quotes-author"></p>
    </div>
  </div>
  <div class="quotes-second"></div>
</section>
